body {
    text-align: center;
    font-style: italic;
}

.clockHeader {
    font-size: 6em;
}

.pullRight {
   float: right;
}

.padLeft {
   padding-left: 5px;
}

p {
    font-size: 2em;
    font-family: "Lucida Console", Monaco, monospace
}

.cold {
    background-color: #95A5A6;
}

.chilly {
    background-color: #1ABC9C;
}

.nice {
    background-color: #2980B9;
}

.warm {
    background-color: #E67E22;
}

.hot {
    background-color: #E74C3C;
}
